<h1>Welcome <%= name %></h1>

<ul>
    <li>Name:<%= name %></li>
    <li>Location:<%= location %></li>
    <li>Language:<%= language %></li>
    <li>Comment:<%= comment %></li>
</ul>

<button><a href="/">Go Back!</a></button>